html {
    height: 100%;
}

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.mapper {
    width: 100%;
    display: none;
}

/* TEXTO DAS DIVS */
/* ENTRADA*/

#div-entrance-info {
    width: 500px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: absolute;
    display: none;

}

#img-div-entrance-info {
    width: 300px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

/* HALL */



#div-hall-contacts, #div-hall-partners, #div-hall-philosophy, #div-hall-journey, #div-hall-criativity, #div-hall-integrity, #div-hall-profissionalism, #div-hall-entrepreneurship, #div-hall-recruitment{
    width: 500px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: absolute;
    display: none;
}


#img-div-hall-contacts, #img-div-hall-partners, #img-div-hall-philosophy, #img-div-hall-journey, #img-div-hall-criativity, #img-div-hall-integrity, #img-div-hall-profissionalism, #img-div-hall-entrepreneurship, #img-div-hall-recruitment{
    width: 300px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
}


/* TECNOLOGIA */
#div-technology-quality, #div-technology-transparency, #div-technology-results, #div-technology-teamwork, #div-technology-ambition, #div-technology-services, {
    width: 500px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: absolute;
    display: none;
}


#img-div-technology-quality, #img-div-technology-transparency, #img-div-technology-results, #img-div-technology-teamwork, #img-div-technology-ambition, #img-div-technology-services, {
    width: 300px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
}



#div-technology-timelapse {
    width: 500px;
    height: 300px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: relative;
    display: none;
}

#iframediv-timelapse {
    width: 100%;
    height: 97.5%;
    margin-top: 5px;

}

#iframe-timelapse {
    width: 100%;
    height: 100%;
}

/* INOVAÇÃO*/





#img-div-innovation-people, #img-div-innovation-blog, #img-div-innovation-shiftappens, #img-div-innovation-praxe {
    width: 300px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

#div-innovation-people, #div-innovation-blog, #div-innovation-shiftappens, #div-innovation-praxe {
    width: 500px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: absolute;
    display: none;

}




/*VIDEO JEKNOWLEDGE ACADEMY*/

#div-innovation-jekacademy, #div-innovation-sjm {
    width: 500px;
    height: 300px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 7px;
    padding: 0 6px 2px;
    color: black;
    cursor: default;
    text-align: center;
    text-decoration: none;
    background-color: #85ADFF;
    position: relative;
    display: none;
}

#iframediv-jekacademy, #iframediv-sjm {
    width: 100%;
    height: 97.5%;
    margin-top: 5px;

}

#iframe-jekacademy, #iframe-sjm {
    width: 100%;
    height: 100%;
}

/*VIDEO JEKNOWLEDGE ACADEMY*/
/*
.jekacademy{
  width: 100px;
  height: 150px;
  margin-left: 200px;
  margin-right: 100px;
  position: absolute;
  margin-top: 100px;
}
*/

/*VIDEO SUMMER JADE MEETING*/

/*
.sjm{
  width: 800px;
  height: 150px;
  margin-left: 200px;
  margin-right: 100px;
  position: absolute;
}

.estilo {
  position: absolute;
}
*/

/* CRUZ PARA FECHAR DIVS */

.b-close {

    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    cursor: pointer;
}

.b-close:hover {
    background-color: #1e1e1e;
}

.button {
    background-color: #85ADFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}