html {
    height: 100%;
}

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.mapper {
    width: 100%;
    display: none;
}

.container {
    display: none;
    max-width: 50%;
    font-family: 'Oxygen', serif;
    font-size: 1.2em;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 2% 4% 1.5% 4%;
}

.jek-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 15%;
    height: 15%;
}

/* CRUZ PARA FECHAR DIVS */
.b-close {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    cursor: pointer;
}

.b-close:hover {
    background-color: #1e1e1e;
}

.button {
    background-color: #85ADFF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}